altgraph==0.17.5
annotated-types==0.8.0
anyio==4.14.2
click==8.4.2
colorama==0.4.6
fastapi==0.116.2
h11==0.16.0
idna==3.19
packaging==26.3
pefile==2024.8.26
pydantic==2.13.4
pydantic_core==2.46.4
pyinstaller==6.22.2
pyinstaller-hooks-contrib==2026.6
pywin32-ctypes==0.2.3
setuptools==84.0.0
starlette==0.48.0
typing-inspection==0.4.4
typing_extensions==4.16.0
uvicorn==0.33.0
