<?xml version="1.0" encoding="utf-8"?>
<Wix
  xmlns="http://wixtoolset.org/schemas/v4/wxs"
  xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">
  <Bundle
    Id="OmniBase.Desktop.Bundle"
    Name="OmniBase"
    Manufacturer="OmniBase Contributors"
    Version="$(var.ProductVersion)"
    Compressed="yes"
    DisableModify="yes"
    DisableRemove="no">

    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication
        Theme="hyperlinkLicense"
        LicenseUrl=""
        ShowVersion="yes"
        SuppressOptionsUI="yes"
        SuppressDowngradeFailure="no"
        LaunchTarget="[LocalAppDataFolder]Programs\OmniBase\OmniBase.exe"
        LaunchWorkingFolder="[LocalAppDataFolder]Programs\OmniBase" />
    </BootstrapperApplication>

    <Chain>
      <MsiPackage
        Id="OmniBaseMsi"
        SourceFile="$(var.OmniBase.Package.TargetPath)"
        Compressed="yes"
        Cache="keep"
        Visible="no"
        Vital="yes"
        Permanent="no">
        <MsiProperty
          Name="INSTALLFOLDER"
          Value="[LocalAppDataFolder]Programs\OmniBase" />
      </MsiPackage>
    </Chain>
  </Bundle>
</Wix>
